<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/rongju-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="荣钜机械">
    <link type="text/css" rel="stylesheet" href="{{ site.url }}/assets/fsrongju.css">{% if page.category == 'home' %}
    <link type="text/css" rel="stylesheet" href="{{ site.url }}/assets/carousel.css">
    <script src="{{ site.url }}/assets/application.js"></script>{% endif %}
    <script>
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b1d4cb05c1cb363ae515dc605f076b21";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>
  <body>
    <header id="luxbar" class="luxbar-fixed">
      <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox">
      <div class="luxbar-menu luxbar-menu-right luxbar-menu-white">
        <div class="container">
          <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="{{ site.url }}"><img src="{{ site.url }}/images/assets/rongju-logo.png" width="116" height="50" alt="荣钜机械Logo"></a>
              <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item {% if page.category == 'home' %}active{% endif %}"><a href="{{ site.url }}">首页</a></li>
            <li class="luxbar-item {% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">企业简介</a></li>
            <li class="luxbar-item {% if page.category == 'products' %}active{% endif %}"><a href="{{ site.url }}/products/">产品中心</a></li>
            <li class="luxbar-item {% if page.category == 'application' %}active{% endif %}"><a href="{{ site.url }}/application/">行业应用</a></li>
            <li class="luxbar-item {% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">新闻中心</a></li>
            <li class="luxbar-item {% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">联系我们</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="margin-top-58"></div>
    {{ content }}
    <div class="margin-top-58"></div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-btm-20 hidden-xs">
            <img src="{{ site.url }}/images/assets/rongju-logo.png" class="img-responsive" width="116" height="50" alt="荣钜机械Logo">
            <p class="text-justify margin-top-10 margin-btm-10">佛山市南海荣钜机械有限公司（原佛山市南海区里水荣达机械厂），创建于2001年，位于有武术之乡美称的黄飞鸿故乡，是一家专业从事鞋带、绳带、织带服装辅料，电线及绝缘导管编织等机械辅助设备的设计、生产、销售以及服务于一体的科技型工厂；工厂以全自动样品整经机、全自动高速分纱机、全自动双锭纬纱机（打线机）、多功能全自动纬纱机（绕纱机）为主打产品；产品畅销全国各地，并外销西班牙，越南、泰国、孟加拉、印度等东南亚国家和南美洲地区，深受客户一致好评。<a href="{{ site.url }}/about/">了解更多</a></p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-btm-20 hidden-xs">
            <p class="nav-title">产品中心</p>
            <div class="red-heading"></div>
            <ul class="post-list list-unstyled">{% for post in site.categories["products"] limit:7 %}
              <li><a href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></li>{% endfor %}
              <li><a href="{{ site.url }}/products/" class="hover-color">更多产品</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-btm-20 hidden-xs">
            <p class="nav-title">新闻中心</p>
            <div class="red-heading"></div>
            <ul class="post-list list-unstyled">{% for post in site.categories["news"] limit:5 %}
              <li><a href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></li>{% endfor %}
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-btm-20">
            <p class="nav-title">联系我们</p>
            <div class="red-heading"></div>
            <p>地址：{{ site.address }}</p>
            <p>电话：<a href="tel:{{ site.tel }}">{{ site.tel }}</a></p>
            <p>业务洽谈：<a href="tel:{{ site.phone }}">{{ site.phone }}</a>（郭先生）</p>
            <p>QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin={{ site.qq }}&site=qq&menu=yes">{{ site.qq }}</a></p>
            <p>传真：{{ site.fax }}</p>
            <p>邮箱：{{ site.email }}</p>
            <img src="{{ site.url }}/images/assets/weixin.jpg" class="img-responsive" alt="荣钜机械微信客服">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center footer-bottom margin-top-20">Copyright © 2016-2020 佛山市南海荣钜机械有限公司 | <a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备19148301号-1</a> | <a href="{{ site.url }}/sitemap.xml">Sitemap</a></div>
        </div>
      </div>
    </div>
    <div class="back-to-top"><a href="#"><img src="{{ site.url }}/images/assets/up.png" width="32" height="32" alt="Scroll Back to Top"></a></div>
  </body>
</html>