---
layout: pages
---
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
    <mip-img src="{{ site.url }}/images/products/{{ page.image }}.jpg" class="img-thumbnail" alt="{{ page.title }}"></mip-img>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
    <p class="title-3 text-black margin-btm-20">{{ page.title }}</p>
    <p><i class="fas fa-check-circle"></i> {{ page.features-1 }}</p>
    <p><i class="fas fa-check-circle"></i> {{ page.features-2 }}</p>{% if page.features-3 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-3 }}</p>{% endif %}{% if page.features-4 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-4 }}</p>{% endif %}{% if page.features-5 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-5 }}</p>{% endif %}{% if page.features-6 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-6 }}</p>{% endif %}{% if page.features-7 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-7 }}</p>{% endif %}{% if page.features-8 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-8 }}</p>{% endif %}
  </div>
</div>
<hr class="margin-btm-20">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>型号</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.model }}</p>
  </div>
  <hr class="margin-btm-20">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>电压</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.voltage }} V</p>
  </div>
  <hr class="margin-btm-20">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>功率</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.power }} KW</p>
  </div>
  <hr class="margin-btm-20">
  {% if page.control-method == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>控制方式</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.control-method }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.winding-method == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>卷绕形式</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.winding-method }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.max-winding-process == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>最大卷绕动程</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.max-winding-process }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.bobbin-size == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>纱管规格</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.bobbin-size }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.tape-number == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>卷带条数</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.tape-number }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.tape-width == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>卷带宽度</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.tape-width }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.roll-width == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>卷筒宽度</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.roll-width }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}



  {% if page.speed == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>转速</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.speed }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.airpre == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>进气压</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.airpre }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.warping-number == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>整经条数</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.warping-yards }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.warping-yards == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>整经码数</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.warping-yards }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}{% if page.scope == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>使用范围</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.scope }}</p>
  </div>
  <hr class="margin-btm-20">{% endif %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>机械尺寸</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.size }} MM</p>
  </div>
  <hr class="margin-btm-20">{% if page.weight == 'wu' %}{% else %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>重量</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.weight }} KG</p>
  </div>
  <hr class="margin-btm-20">{% endif %}
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <p class="text-black text-black text-center"><b>产品用途</b></p>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <p>{{ page.application }}</p>
  </div>
  <hr class="margin-btm-20">

{{ content }}
{% include products-list.html %}